BasedOnStyle: LLVM

IndentWidth: 8
TabWidth: 8
UseTab: Always

ColumnLimit: 80

BreakBeforeBraces: Linux

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

IndentCaseLabels: false

PointerAlignment: Right
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements

SortIncludes: true

RemoveBracesLLVM: false
